@media all and (min-width: 280px) and (max-width: 800px){

    @keyframes slidingLeft {
        0% {
            transform: translateX(150%);
        }

        40% {
            transform: translateX(100%);
        }

        70% {
            transform: translateX(40%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes hidingMenu {
        20% {
            transform: translateX(10%);
        }

        50% {
            transform: translateX(30%);
        }

        705% {
            transform: translateX(60%);
        }

        100% {
            transform: translateX(230%);
        }
    }


    .main-nav {
        position: fixed;
        padding: 0rem;
        height: 5rem;
        background-color: aliceblue;
        top: 0;
    }
    .nav-logo {
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
    }
    .main-nav ul {
        position: fixed;
        top: calc(5rem + 0.1rem);
        right: 0;
        transition: all 0.4s ease-in-out;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2000;
        padding: min(30vh, 10rem) 2rem;
        background-color:aqua;
        background-color: hsl(0 100% 0% /0.6);
        overflow: scroll;
        display: none;
        height: 100vh;
    }
    .main-nav ul li :is(a, i) {
       color: white;
       font-size: 1rem;
    }
    .main-nav ul li{
        color: white;
    }

    .main-nav:has(.open) ul {
        display: flex;
        animation: hidingMenu;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    .main-nav:has(.closed) ul {
        display: flex;
        animation: slidingLeft;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .menu-icon{
        display: block;
        z-index: 9999999;
    }
    .user-favorite{
        display: none;
    }
    .user-cart-container{
        display: none;
    }
    .user-favorite-mobile,
    .user-cart-mobile {
        display: block;
    }

}