@media screen and (max-width: 700px){
    .product-modifying-container{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .imgs-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .add-img-container-section{
        flex-direction: column;
        gap: 1.2rem;
    }
    .add-img-container,
    .upload-img,
    .archive-container button,
    .product-input-container{
        width: 100%;
    }
    .archive-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .product-stock-admin-container{
        flex-direction: column;
    }
    .size-table{
        width: 80%;
        padding: 1.1rem;
        overflow-x: scroll;
    }
    .size-table tbody tr td{
        font-size: 1rem;
        padding: 0.8rem;
    }
    .product-stock-form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        flex-direction: column;
    }
    .product-stock-form{
        width: 90%;
    }
    .promotion-section,
    .promotion-form,
    .product-stock-form input,
    .promotion-form,
    .product-stock-form button,
    .promotion-form button,
    .add-product-stock-input{
        width: 100%;
    }
    .product-stock-form .input-error {
        font-size: 1rem;
    }
}
@media screen and (min-width: 701px) and (max-width: 1300px){
    .product-modifying-container {
        flex-direction: column;
        align-items: center;
    }
    .imgs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .size-table {
        width: 90%;
        padding: 1.1rem;
        overflow-x: scroll;
    }

    .size-table tbody tr td {
        padding: 1.4rem;
    }

    .product-stock-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        flex-direction: column;
    }
    .product-stock-admin-container{
        justify-content: space-evenly;
    }

    .product-stock-form :where(input, button){
        width: 100%;
    }

    .promotion-form button {
        width: 100%;
    }
}