.admin-img-container{
    width: 250px;
    height: auto;
}
.admin-img-container img{
    width: 100%;
    height: 100%;
}
.product-modifying-container{
    margin: 2.5rem 0rem;
}
.imgs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
}
.product-modifying-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: relative;
}
.product-input-container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 0.6rem;
    width: 100%;
}
.sizes-title{
    margin: 3rem 0rem;
}
.edit-product-button {
    width: 100%;
    font-weight: bolder;
    border: none;
    color: white;
    background-color: #de605c;
    padding: 0.4rem 0.3rem;
    border-radius: 6px;
    margin-top: 1rem;
    transition: 0.3s ease;
}
.edit-product-button:hover{
    opacity: 0.8;
}
.product-input-container :where(input, select) {
    border: none;
    outline: none;
    padding: 0.3rem 0.3rem;
    box-shadow: 0rem 2rem 3rem rgba(132, 139, 200, 0.18);
}
.product-modifying-container textarea{
    padding: 0.4rem;
    width: 100%;
    outline: none;
    border: none;
}
