@media screen and (min-width: 280px) and (max-width: 800px){
    .personal-products-title{
        margin-top: 7rem;
    }
    .favorite-products-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}