@keyframes showing {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}
@keyframes showingDescription{
    from{
        display: none;
        opacity: 0;
    }
    to{
        display: block;
        opacity : 1;
    }
}


.productinfo-card-container{
    padding: 2rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}
.productinfo-card-container p{
    margin: 0px;
}

.size-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 0;
}
main {
    background-color: #fffffd;
}
.size-item {
    background-color: #f7f8f5;
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.order-section button{
    border: none;
}
.order-count{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
.order-button{
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
}
.order-number {
    font-size: 1.2rem;
    font-weight: bolder;
    transition: all 0.5s ease;
}
.add-to-cart {
    color: white;
    font-weight: bolder;
    background-color: #f66e69;
    border: none;
    height: 3rem;
    transition: all 0.5s ease;
    width: 16rem;
    border-radius: 28px;
}
.add-to-cart:hover,
.order-button:hover
{
    opacity: 0.8;
}
.product-price {
    color: #d57d80;
    font-size: 1.3rem;
}
.add-to-cart:active,
.order-button:active,
.arrow-button:active {
    opacity: 0.5;
}
.productinfo-img-container{
    width: 600px;
    position: relative;
}
.productinfo-img-container img{
    width: 100%;
}
.arrow-button {
    position: absolute;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: 0.5s ease all;
    padding: 0.3rem 0.5rem;
    border-radius: 50%;
}

.left-arrow-button{
    left: 5%;
}
.right-arrow-button{
    right: 0px;
}
.active-arrow {
    background-color: darkgrey;
}
.active-arrow i {
   color: rgba(242,242,240,255)
}
.productinfo-about-container{
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   max-width: 40%;
}
.wishlist-container{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.wishlist-container p {
    font-size: 1.3rem;
}
.wishlist-button{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
.wishlist-button .favorite-heart{
    transition: 0.4s ease all;
}
.wishlist-button .active-heart{
    color: deeppink;
}
.product-about {
    display: none;
}
.product-info-title{
    font-size: 1.7rem;
    margin: 0;
}
.product-about-title{
    font-size: 1rem;
    margin: 0;
}
.product-about-content{
    font-size: 1rem;
}
.product-section-header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-section-header{
    text-transform: capitalize;
    font-weight: bolder;
}
.product-section-header i{
    padding: 1rem;
}
.product-description {
    max-width: 400px;
    margin-top: 1.2rem;
    animation: showingDescription;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.product-description p{
    width: 100%;
}
.active-information
 {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 1.5rem;
   margin: 1rem 0rem 1.5rem 5rem;
   animation: showing;
   animation-duration: 1s;
   animation-fill-mode: backwards;
   animation-timing-function: ease-in;
}
.not-available{
    opacity: 0.4;
}
.product-stock {
    color: #7fdacf;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #f3f7f6;
    max-width: 160px;
    text-align: center;
    padding: 0.2rem 0rem
}
.active-size{
    color: white;
    background-color: black;
}
.in-stock {
    color: #7fdacf;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #f3f7f6;
    max-width: 110px;
    text-align: center;
    padding: 0.2rem 0rem
}
.out-of-stock{
    color: red;
}
.review-title {
    color: #8d95a2;
    margin-top: 2.7rem;
}
.product-evaluation {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
}
.reviews-count {
    color: #000000;
    font-size: 1.2rem;
    font-weight: bolder;
}
.divider {
    font-weight: bold;
    font-size: 2.2rem;
    color: #d7d7d5;
}
.evaluation-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.review-button {
    margin-top: 2rem;
    border: none;
    background-color: #3a334c;
    color: white;
    width : 100%;
    padding: 0.8rem;
    text-align: center;
    border-radius: 20px;
    font-size: 1.1rem;
}
.write-title {
    color: #8994a2;
    margin-top: 2.2rem;
}
.write-review-star-container p {
    font-size: 1.3rem;
    margin: 0px;
    color: #0c0d0b;
    font-weight: bolder;
    gap: 2rem;
}
.write-review-star-container{
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.write-review-star-container .star{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}
.review-form{
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.4rem;
    width: 100%;
}
.review-form :where(input, textarea){
    width: 100%;
    outline: none;
    padding: 0.8rem 0.6rem;
}
.review-form .input-container{
    width: 76%;
}
.review-form label{
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
}
.submit-review-button {
    border: none;
    font-size: 1.2rem;
    background-color: #de605c;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 77%;
    padding: 0.7rem;
    transition: 0.5s ease-in all;
}
.submit-review-button:hover{
  opacity: 0.8;
  transform:scale(1.020);
}
.submit-review-button:active {
    opacity: 0.6;
}
.active-review {
    animation: showingDescription;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.related-products-section{
    margin-top: 10rem;
    padding: 3rem;
}
.related-products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.related-products-title{
    margin-bottom: 2.5rem;
    position: relative;
}
.related-products-title::after{
    content: "";
    height: 38px;
    background-color: mediumpurple;
    width: 38px;
    position: absolute;
    top: -18px;
    left: -22px;
    border-radius: 50%;
    opacity: 0.6;
}
.all-reviews-button {
    margin-top: 2.5rem;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    background-color: #3a334c;
    color: white;
    width: 77%;
    padding: 0.7rem;
    border-radius: 20px;
    transition: all 0.3s ease-in;
}

.review-form :where(input, textarea) {
    border: 1px solid black;
}
.all-reviews-button:hover{
     opacity: 0.7;
 }
.price-section{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.price-section .product-price{
    font-size: 1.5rem;
}
.price-section .product-price:first-child{
    opacity: 0.8;
}
.price-section del{
   color: #d57d80;
}


body:has(.fa-moon) :where(.product-info-title, h4, h3, .product-title, .wishlist-container p, .favorite-heart, .fa-plus, .fa-minus, hr, .related-products-title, label, .order-number, 
.product-description, .product-evaluation, .reviews-count, .write-review-star-container p, .product-section-header p, .product-about-content) {
    color: white;
}

body:has(.fa-moon) .order-button {
    background-color: #343a46;
}
body:has(.fa-moon) :where(.add-to-cart, .submit-review-button) {
    background-color: #1f84a8;
}