.product-stock-admin-container{
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    margin-bottom: 2.8rem;
}
.product-stock-admin-container p{
    margin: 0;
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
}

.product-stock-form button {
    font-size: 1.2rem;
    padding: 0.3rem 0.3rem;
    border: none;
    text-align: center;
    background-color: #de605c;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    margin-left: 0.6rem;
    transition: 0.3s ease;
}
.product-stock-form input {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0.3rem 0.3rem;
}

.product-stock-form button:hover{
    opacity: 0.8;
}
.product-stock-form{
    display: flex;
    align-items: center;
    position: relative;
}

.product-stock-form .input-error{
    top: 102%;
    width: auto;
    font-size: 1rem;
    right: unset;
    left: 0;
    text-align: center;
    padding: 0.4rem 1rem;
}

