.product-stock-admin-container{
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    margin-bottom: 2rem;
}
.product-stock-admin-container p{
    margin: 0;
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
}
.product-stock-admin-container button{
    font-size: 1.4rem;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 50%;
    text-align: center;
}

