.user-message-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-message-card {
    width: 60%;
    margin-bottom: 6rem;
    background-color: white;
    box-shadow: 0rem 2rem 3rem rgba(132, 139, 200, 0.18);
    padding: 3.5rem;
    border-radius: 8px;
}

.actions-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.6rem;
    transition: 0.4s ease-in-out all;
    border-radius: 6px;
}
.action :where(i, .action-button){
    font-size: 1.3rem;
}
.action-button{
    border: none;
    background-color: transparent;
}
.action:first-child:hover {
    background-color: #318CE7;
}
.action:hover:not(:first-child) {
    background-color: red;
}
.action:hover :where(i, .action-button) {
    color: white;
}
body:has(.loading-spinner) :where(.user-message-card, aside) {
    opacity: 0.3;
}
body:has(.user-messages) .popup-container {
    top: 36%;
    left: 30%;
}
.user-messages:has(.popup-container) .user-message-card{
    opacity: 0.4;
}

