.icon-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
    padding: 0.8rem 1rem;
    width: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}
.icon-container:not(:last-child){
    margin-bottom: 4.5rem;
}
.icon-text-content,
.icon-container span{
    margin: 0;
    color: #7d8da1;
    transition: all 0.3s ease;
}
.asside-wrapper{
    height: 100vh;
    width: 30%;
    margin: 3rem 0rem;
    position: relative;
    top: 3rem;
    padding: 1rem 0rem;
}
.icon-container:last-child{
    position: absolute;
    bottom: 4px;
}
.active-icon-container {
    transition: all 0.5s ease;
    background-color: #e1e2f0;
    position: relative;
}
.active-icon-container :is(span, p){
    color: #7b81e5;
}
.active-icon-container::before{
    content: "";
    height: 100%;
    width: 8px;
    background-color:#7b81e5;
    position: absolute;
    left: -8px;
}
.aside-logo{
    margin: 2rem 0rem 4rem 2rem;
}
.icon-container:not(:last-child):hover {
    transform: translateX(0.8rem);
}
.icon-container:hover :where(span, p){
   color: #7b81e5;
}
