@media screen and (max-width: 801px){
    .icon-container:last-child {
        position: relative;
        bottom: unset;
    }
    .admin-aside {
        position: fixed;
        z-index: 4;
        background-color: white;
        transform: translateX(-200%);
        transition: all 0.3s ease-in-out;
        width: 80%;
        height: 100%;
        overflow:scroll;
        padding-block: 2rem;
    }

    .aside-logo {
        display: none;
    }

    #root:has(.admin-aside) .menu-icon {
        display: block;
        right: unset;
        top: 2rem;
        left: 0;
    }
    .asside-wrapper{
        top: 1.3rem;
    }

    body:has(.closed) .admin-aside {
        transform: translateX(0);
    }
    #root:has(.asside-wrapper) {
        grid-template-columns: unset;
    }
}
@media screen and (min-width: 802px) and (max-width: 1000px){
    #root:has(.asside-wrapper) {
        grid-template-columns: 10rem auto;
    }
    #root:has(.admin-aside) .menu-icon {
        display: none;
    }
}