body:has(.dashboard-container) #root {
    display: grid;
    grid-template-columns: 22rem auto;
    margin: 0 auto;
    gap: 5rem;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
    padding: 0.8rem 1rem;
    width: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 70%;
    position: relative;
}
.icon-container:not(:last-child){
    margin-bottom: 4.5rem;
}
.icon-text-content,
.icon-container span{
    margin: 0;
    color: #7d8da1;
    transition: all 0.3s ease;
}
.icon-container span{
    font-size: 1.8rem;
}
.asside-wrapper{
    height: 100%;
    margin: 5rem 0rem;
    position: relative;
    top: 3rem;
    padding: 1rem 0rem;
}
.menu-icon{
    right: unset;
    display: none;
}

.icon-container:last-child{
    position: absolute;
    bottom: 1rem;
}
.active-icon-container {
    transition: all 0.5s ease;
    background-color: #e1e2f0;
    position: relative;
}
.active-icon-container :is(span, .icon-text-content){
    color: #7b81e5;
}
.active-icon-container::before{
    content: "";
    height: 100%;
    width: 8px;
    background-color:#7b81e5;
    position: absolute;
    left: -8px;
}
.aside-logo{
    margin: 2rem 0rem 4rem 2rem;
}
.icon-container:not(:last-child):hover {
    transform: translateX(0.8rem);
}
.icon-container:hover :where(span, .icon-text-content){
   color: #7b81e5;
}
.messages-container p{
    margin: 0;
}

.messages-count {
    position: absolute;
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #de605c;
    display: flex;
    align-items: center;
    justify-content: center;
}
