body {
    font-family: Arial, Helvetica, sans-serif;
}


.popup-container {
    box-sizing: border-box;
    position: absolute;
    left: 35%;
    width: 350px;
    height: auto;
    padding: 30px 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.5);
    top: -200%;
    opacity: 0;
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}
body:has(.asside-wrapper) .popup-container{
    background-color: white;
    left: 30%;
    top: 40%;
}


.popup-container.active {
    top: 30%;
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms cubic-bezier(1.18, 0.89, 0.43, 1.19);
}

.popup-icon {
    font-size: 30px;
    font-weight: bolder;
    margin: 8px 0px;
    color: #34f234;
    border: 2px solid #34f234;
    padding: 16px;
    border-radius: 50%;
}

.close-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 30%;
    margin-top: 10px;
    transition: all 300ms ease-in-out;
    border: 2px solid black;
}

.close-button:hover {
    background-color: white;
    color: black;
}
