.menu-icon-bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
}
.menu-icon{
    position: fixed;
    right: 0.4rem;
    top: 1rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
}
.closed .third-bar{
    opacity: 0;
    display: none;
}
.closed .first-bar {
    margin: 0px;
    transform: rotate(-45deg) translateX(-4px);
}

.closed .second-bar {
    margin: 0px;
    transform: rotate(45deg) translateX(-2px);
}
body:has(.fa-moon) .menu-icon-bar{
    background-color: white;
}


