:root{
    --border: 2px;
}

@keyframes changingInputBorder{
    20%{
        border-top: var(--border) solid green;
    }
    45% {
        border-right: var(--border) solid green;
    }
    75% {
        border-bottom: var(--border) solid green;
    }
    100% {
       border: var(--border) solid green;
    }
}

.cart-container {
    display: flex;
    align-items: flex-start;
    margin-top: 7rem;
    position: relative;
}
.cart-order {
    flex-basis: 76%
}
.shopping-cart-table {
    display: block;
    text-align: center;
    width: 80%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}
.shopping-cart-headers {
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f3f2;
    padding: 2.5rem 1rem;
}
.shopping-cart-title{
    font-size: 2.2rem;
    margin: 4rem 0rem 0rem 2rem;
    text-align: center;
}
.item-name{
    font-size: 1.1rem;
}

.item-img-container{
    width: 130px;
}
.item-img-container img{
    width: 100%;
}
.item-info{
    display: flex;
    gap: 1rem;
    max-width: 260px;
    margin-left: -3.1rem;
}
.item-about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-category{
    font-size: 1.1rem;
    font-weight: bolder;
}
.item-price,
.item-subtotal-price {
    margin: 0;
    font-weight: bolder;
    font-size: 1.2rem;
}
.quantity-buttons-container{
    display: flex;
    align-items: center;
    background-color: white;
    gap: 2rem;
    border: 1px solid black;
    padding: 0rem 0.3rem;
    align-items: center;
}
.quantity-buttons-container button{
    font-size: 1.7rem;
    background-color: transparent;
    border:none;
    padding: 0.2rem;
    transition: 0.3s ease-in;
}
.quantity-buttons-container button:hover{
   opacity: 0.7;
}
.item-hr{
    width: 100%;
}

.remove-button{
    background-color: transparent;
    border: none;
}

.item-cotnainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
}
.order-info {
    background-color: #f0f3f2;
    padding: 5rem 1rem;
}
.cart-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-input-container label{
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    font-weight: bolder;
    margin: 0.8rem 0rem 0.8rem 0rem;
}
.cart-shipping-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 0rem  0rem 1.5rem 2rem;
}
input:nth-of-type(checkbox){
    border-radius: 50%;
}
.cart-shipping-container label{
    margin: 0px;
}
.finish-order {
    background-color: #e4e8ea;
    padding: 2rem;
}
.order-final-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    font-size: 1.1rem;
}
.order-info-container{
    flex-basis: 20%;
    padding-bottom: 2rem;
}
.check-out-button {
    color: white;
    background-color: #32174D;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 30px;
    padding: 1rem 1rem;
    width: 300px;
    border: none;
    transition: 0.3s ease-in;
}
.cuppon-container{
    display: flex;
    align-items: center;
}
.active-cuppon{
   animation: changingInputBorder forwards ease-in 0.5s;
}
.apply-cuppon-button{
    background-color: black;
    color: white;
    padding: 0.4rem 0.5rem;
    border: 2px solid black;
    transition: 0.3s ease-in;
}
.cuppon-container input {
    outline: none;
    border: 2px solid double;
    padding: 0.4rem 0.5rem;
    width: 100%;
}
.cart-input-container :where(select, input){
    width: 90%;
    padding: 0.2rem 0.2rem;
}
.apply-cuppon-button:hover,
.check-out-button:hover{
    opacity: 0.6;
}
#postal-code{
    margin-bottom: 3rem;
}


.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}
.check-out-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
body:has(.fa-moon) :where(.shopping-cart-headers, .order-info, .quantity-buttons-container) {
    background-color: #343a46;
}
body:has(.fa-moon) :where(.item-category, .item-price, .item-subtotal-price, .quantity-buttons-container, .quantity-buttons-container button, label){
    color: white;
}


