@keyframes sliding{
    from{
        opacity: 0;
        transform:translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.featured-shoes-section {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
    animation: sliding;
    animation-duration: 4.2s;
    animation-fill-mode: forwards;
}
.feature-title {
    margin: 6.5rem 0rem 1rem 2rem;
    animation: sliding;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.feature-title::before{
   content: "";
   height: 38px;
   background-color: mediumpurple;
   width: 38px;
   position: absolute;
   top: -18px;
   left: -22px;
   border-radius: 50%;
   opacity: 0.6;
}
