@media screen and (min-width: 280px) and (max-width:700px){
    .featured-shoes-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .featured-product-card .img-container{
        width: 170px;
    }
    .product-content :is(.name, .price, .star-rating, .price-with-discount) {
        font-size: 1rem;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-form .contact-input{
        min-width: 130px;
    }
    .featured-product-card{
        align-items: center;
    }
    .feature-title{
        margin-top: 9rem;
    }
}

@media screen and (min-width: 701px) and (max-width:1300px) {
    .featured-shoes-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-product-card .img-container {
        width: 240px;
    }

    .product-content :is(.name, .price, .star-rating) {
        font-size: 1.1rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-form .contact-input {
        min-width: 170px;
    }
}