@keyframes sliding{
    from{
        opacity: 0;
        transform: translateY(-50%);
    }
    to{
        opacity: 1;
        transform:translateY(0%);
    }
}
@keyframes hiding {
    from {
        transform: translateY(0%);
        display: grid;
    }

    to {
        transform: translateY(-50%);
    }
}
.category-list {
    background-color: #f0f3f2;
    list-style: none;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.active {
    animation: sliding;
    animation-duration: 1.3s;
}
.category-list li{
    color: #4c4552;
    padding: 0.8rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.category-list li:hover{
  color: cornflowerblue;
}
.not-active {
    animation: hiding;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
}
.sub-category-list{
  list-style: none;
}
.main-category{
    font-weight: bold;
}
.sub-category-item{
    font-weight: normal;
}
.not-visible{
    display: none;
}
