.products-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin-left: 3rem;
}
.main-container{
   display: flex;
   /*justify-content: flex-end;*/
   justify-content: space-around;

}
/*#filter-menu-navigation {
    position: fixed;
    left: 0px;
    top: 100px;
    overflow: auto;
    height: 100vh; 
    max-height: 100vh;
    margin-bottom: 2rem;
}*/