body {
    background-color: #f6f5f8;
    width: 100vw;
    height: 100vh;
}
body:has(.dashboard-container) #root{
    display: grid;
    grid-template-columns: 22rem auto;
    margin: 0 auto;
    gap: 5rem;
}
.dashboard-container{
    margin: 2rem 3rem 0rem 0rem;
}
.statistic-container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5rem;
}
.circle-container{
    width: 44%;
}
.statistic-section{
    background-color:white;
    border-radius: 2rem;
    box-shadow: 0rem 2rem 3rem rgba(132, 139, 200, 0.18);
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.4s ease;
}
.statistic-section:hover{
    box-shadow: unset;
}
.statistic-section  span{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 1rem;
}
.circle-container{
    position: relative;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}
.circle-container svg{
    width: 7rem;
    height: 7rem;
}
.round {
    transition: all 1s ease-in-out;
    fill: none;
    stroke: #7b81e5;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 0 999;
}

.statistic-percentage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="date"]{
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 0.4rem;
   background-color: #7d8da1;
   margin-top: 3rem;
}
.statistic-tripple-container {
    grid-template-columns: repeat(3, 1fr);
}
.statistic-title{
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}
.statistic-result{
    font-weight: bolder;
    font-size: 1.3rem;
}
.orders-container{
    margin-top: 5rem;
}
.orders-container table {
    border-collapse: separate;
    margin-top: 5rem;
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0rem 2rem 3rem rgba(132, 139, 200, 0.18);
}
.orders-container table tbody tr td{
   padding: 1.8rem;
   color: #7d8da1;
   font-size: 1.2rem;
}
.orders-container table tbody tr td:last-child{
   padding: 1.8rem;
   color: #7b81e5;
   font-weight: bolder;
   text-decoration: underline;
   font-size: 1.25rem;
   cursor: pointer;
   transition: all 0.4s ease;
}
.orders-container table tbody tr td:last-child:hover{
    opacity: 0.8;
}
.orders-container table tbody tr:not(:last-child) td{
    height: 2.8rem;
    border-bottom: 1px solid #7d8da1;
}
.orders-title{
    text-align: center;
}
.orders-container table thead tr th{
    font-size: 1.3rem;
}
.orders-container table tbody tr .pending-status{
    color: #ffbb55;
}
.orders-container table tbody tr .delivered-status {
    color: #7b81e5;
}
.show-all-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem;
}
.show-all {
    background-color: transparent;
    color: #7b81e5;
    border: none;
    font-weight: bolder;
    font-size: 1.1rem;
}

