body {
    background-color: #f6f5f8;
    width: 100vw;
    height: 100vh;
}
body:has(.dashboard-container) #root{
    display: grid;
    grid-template-columns: 22rem auto 15rem;
    margin: 0 auto;
    gap: 5rem;
}
.dashboard-container{
    margin-top: 2rem;
}
.statistic-container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5rem;
}
.circle-container{
    width: 44%;
}
.statistic-section{
    background-color:white;
    border-radius: 2rem;
    box-shadow: 0rem 2rem 3rem rgba(132, 139, 200, 0.18);
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.4s ease;
}
.statistic-section:hover{
    box-shadow: unset;
}
.statistic-section  span{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 1rem;
}
.circle-container{
    position: relative;
    border-radius: 50%;
    width: 5.76rem;
    height: 5.76rem;
}
.circle-container svg{
    width: 7rem;
    height: 7rem;
}
.circle-container svg circle{
    fill: none;
    stroke: #7b81e5;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
.statistic-percentage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
