@keyframes slidingLeft{
    0%{
        transform:translateX(150%);
    }
    40% {
        transform: translateX(100%);
    }
    70% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes hidingMenu{
    20%{
        transform:translateX(10%);
    }
    50% {
        transform: translateX(30%);
    }
    705% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(130%);
    }
}

.menu-icon-bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
}
.menu-icon{
    position: fixed;
    right: 0.4rem;
    top: 1rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
}
.closed .third-bar{
    opacity: 0;
    display: none;
}
.closed .first-bar {
    margin: 0px;
    transform: rotate(-45deg) translateX(-4px);
}

.closed .second-bar {
    margin: 0px;
    transform: rotate(45deg) translateX(-2px);
}
.mobile-nav ul {
    transition : all 0.4s ease-in-out;
    background-color: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: calc(0.6rem + 50px);
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
    padding: 0.2rem 0.4rem;
}

.mobile-nav:has(.open) ul {
    animation: hidingMenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.mobile-nav:has(.closed) ul {
    animation: slidingLeft;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.mobile-nav ul li a {
    color: white;
    display:block;
}
.theme-item i{
    color: white;
}

