.order-details-container {
    background-color: #f0f3f2;
    padding: 3rem 2rem;
    flex-basis: 40%;
    border-radius: 40px;
}
.order-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.order-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}
.order-container form{
    text-align: center;
}

.order-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}
.order-summary-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.order-details-container :where(input, select){
    outline: none;
    border: none;
    width: 80%;
    padding: 0.3rem 0.2rem;
}
.order-price-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total{
    font-weight: bolder;
    font-size: 1.2rem;
}
.order-container .total-price{
    font-weight: bold;
    font-size: 3rem;
}
.place-order-button {
    color: white;
    font-weight: bolder;
    background-color: #f66e69;
    border: none;
    height: 3rem;
    transition: all 0.5s ease;
    width: 16rem;
    border-radius: 28px;
    align-self: center;
}
.place-order-button:hover{
    background-color: black;
}
.place-order-button:active {
   opacity: 0.7;
}
body:has(.fa-moon) :where(.order-summary-title, .order-price-container, .order-title){
    color: white;
}
body:has(.fa-moon) :where(.order-details-container) {
    background-color: #343a46;
}